{% extends "base.html" %}
{% load static %}

{% block title %}Alterar Senha{% endblock %}

{% block content %}
<div class="custom-card" style="max-width: 500px; justify-content: center; margin: 40px auto; padding: 30px;">

    <h2 class="page-title mb-4">Alterar Senha</h2>

    <form method="post" class="form-change-pass">
        {% csrf_token %}
        
        {% if form.errors %}
            <div class="alert alert-danger custom-alert">
                <strong>Erro:</strong> verifique os campos abaixo.
            </div>
        {% endif %}

        <!-- Aplicação de classes no conteúdo do form -->
        <div class="form-group-custom">
            {{ form.as_p }}
        </div>

        <button type="submit" class="btn btn-save mt-3">
            Salvar nova senha
        </button>

        <a href="{% url 'accounts:profile' %}" class="btn btn-cancel mt-3">
            Cancelar
        </a>
    </form>
</div>
{% endblock %}