{% extends "base.html" %}
{% load static %}

{% block title %}Meu Perfil{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Meu Perfil</h2>
    </div>

    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-primary mt-2" type="submit">Salvar</button>
            <a href="{% url 'patients:patient_detail' user.patient_profile.pk %}" class="btn btn-secondary mt-2">Voltar ao Prontuário</a>
        </form>
    </div>
</div>
{% endblock %}