{% extends 'base.html' %}
{% load static %}  
{% block title %}Lista de Consultas{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/apointments.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Consultas</h2>
        <a href="{% url 'appointments:appointment_create' %}" class="btn btn-success">Nova Consulta</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Horário</th>
                <th>Paciente</th>
                {% if user.is_doctor %}
                <th>Prontuário</th> {% endif %}
                <th>Médico</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.scheduled_date }}</td>
                <td>{{ appointment.scheduled_time }}</td>
                <td><a href="{% url 'patients:patient_detail' pk=appointment.patient.pk %}">{{ appointment.patient.user.get_full_name }}</a></td>
                
                {% if user.is_doctor %}
                <td>
                    {% if appointment.medical_record %}
                        Dr(a). {{ appointment.medical_record.doctor.user.get_full_name }}
                    {% else %}
                        —
                    {% endif %}
                </td>
                {% endif %}

                <td>Dr(a). {{ appointment.doctor.user.get_full_name }}</td>
                
                <td>{{ appointment.get_status_display }}</td>
                
                <td>
                    {% if user.is_doctor %}
                        {% if appointment.medical_record %}
                            <a href="{% url 'medical_records:record_detail' pk=appointment.medical_record.pk %}" class="btn btn-sm btn-success">Ver Prontuário</a>
                            <a href="{% url 'medical_records:record_update' appointment_pk=appointment.pk %}" class="btn btn-sm btn-warning">Editar</a>
                        {% else %}
                            <a href="{% url 'medical_records:record_create' appointment_pk=appointment.pk %}" class="btn btn-sm btn-primary">Criar Prontuário</a>
                        {% endif %}
                    {% endif %}
                    <a href="{% url 'appointments:appointment_detail' appointment.pk %}" class="btn btn-sm btn-info">Detalhes</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}