<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Promptuario{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/hospital 1.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/loginCadastro.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_card.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
    
    <header class="topbar">
        <div class="topbar-content">
            <div class="welcome-message">
                <h1>Bem Vindo {{ user.first_name|default:'Fulano' }}!</h1>
            </div>
            
            <div class="user-controls">
                
                <a class="user-avatar" 
                    href="{% url 'accounts:profile' %}"
                    style="background-image: url(
                            '{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static "images/default-avatar.png" %}{% endif %}'
                    );">
                </a>

               
                <form method="post" action="{% url 'accounts:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="logout-button-style">
                        <img src="{% static 'images/Logout.png' %}" alt="Sair" class="icon">
                        Sair
                    </button>
                </form>
            </div>
        </div>
    </header>

    <div class="app-layout">
        <aside class="aside-menu">
            <div class="menu-header">
                <a class="logo" href="{% url 'accounts:dashboard' %}">
                    <i class="fas fa-notes-medical"></i>
                    <img class="icon" src="{% static 'images/Logo.png' %}" alt="Logo Promptuario">Promptuario</a>
            </div>
            
            <nav class="menu-nav">
                <ul>
                    <li class="active">
                        <a href="{% url 'accounts:dashboard' %}">
                            <i class="fas fa-home"></i> 
                            <img class="icon"  src="{% static 'images/Home.png' %}" alt="Ilustração Dashboard">Dashboard
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="fas fa-home"></i> 
                            <img class="icon"  src="{% static 'images/verifica (1) 1.png' %}" alt="Ilustração Exames">Exames
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="fas fa-syringe"></i> 
                            <img class="icon"  src="{% static 'images/seringa (1) 1.png' %}" alt="Ilustração Vacinas">Vacinas
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="fas fa-pills"></i> 
                            <img class="icon"  src="{% static 'images/medicina (2) 1.png' %}" alt="Ilustração Medicamentos">Medicamentos
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="fas fa-allergies"></i> 
                            <img class="icon"  src="{% static 'images/dieta(1) 1.png' %}" alt="Ilustração Alergias">Alergias
                        </a>
                    </li>
                    
                    {% if user.is_admin %}
                    <li><a href="{% url 'accounts:user_list' %}">Usuários</a></li>
                    <li><a href="{% url 'accounts:doctor_list' %}">Médicos</a></li>
                    <li><a href="{% url 'accounts:access_log_list' %}">Logs (LGPD)</a></li>
                    {% endif %}
                    
                    {% if user.is_doctor or user.is_attendant %}
                    <li>
                        <a href="{% url 'patients:patient_list' %}">
                        <i class="fas fa-user-friends"></i> 
                        <img src="{% static 'images/Home.png' %}" alt="Ilustração Pacientes"> Pacientes
                        </a>
                    </li>
                    <li><a href="{% url 'appointments:appointment_list' %}"><i class="fas fa-user-md"></i> Acompanhamento</a></li>
                    {% endif %}
                    
                    {% if user.is_doctor %}
                    <li><a href="{% url 'medical_records:medical_record_list' %}"><i class="fas fa-file-signature"></i> Prescrição Eletrônica</a></li>
                    <li><a href="{% url 'reports:report_list' %}">Relatórios</a></li>
                    <li><a href="#"><i class="fas fa-heartbeat"></i> Exames</a></li>
                    <li><a href="#"><i class="fas fa-syringe"></i> Vacinas</a></li>
                    <li><a href="#"><i class="fas fa-pills"></i> Medicamentos</a></li>
                    <li><a href="#"><i class="fas fa-allergies"></i> Alergias</a></li>
                    {% endif %}

                    <li class="active">
                        <a href="#">
                            <i class="fas fa-calendar-alt"></i> 
                            <img class="icon"  src="{% static 'images/livro (1) 1.png' %}" alt="Ilustração Agenda">Agenda
                        </a>
                    </li>
                    
                    {% if user.is_admin %}
                    <li><a href="{% url 'accounts:user_list' %}"><i class="fas fa-users-cog"></i> Usuários</a></li>
                    <li><a href="{% url 'accounts:doctor_list' %}"><i class="fas fa-user-nurse"></i> Médicos</a></li>
                    <li><a href="{% url 'reports:doctor_report' %}">Relatórios</a></li>
                    {% endif %}
                    
                </ul>
            </nav>

            <div class="menu-avisos">
                <div class="container">
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>
               
            </div>

            <div class="menu-ajuda">
                <a href="#"><i class="fas fa-question-circle"></i>
                    <img class="icon"  src="{% static 'images/ideia (1) 1.png' %}" alt="Ilustração Lampada"> Ajuda
                </a>
            </div>

        </aside>

        <main class="main-content">
            <div class="container">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
    {% endif %}

    <footer class="site-footer text-center py-3 mt-4" 
        style="background: var(--color-primary);">
    <div class="footer-bottom">
        <p style="margin: 0; font-size: 14px; color: #fff;">
            &copy; {{ now|date:"Y" }} <strong>PROMPTUÁRIO</strong> — Todos os direitos reservados.
        </p>
    </div>
</footer>


    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>